<footer>
    <div class="container">
        <div class="footer-inner">
            <a href="/">
                <img alt="logo" src="/assets/images/website/DM-white.svg" width="160"/>
            </a>
            <div class="footer-links">
                <a href="https://fr.linkedin.com/company/devmachine" target="_blank">
                    <img src="/assets/images/logos/linkedin.png" alt="LinkedIn" height="20">
                </a>
                <a href="mailto:contact@devmachine.fr">contact@devmachine.fr</a>
                <a href="/mentions-legales">Mentions légales</a>
            </div>
        </div>
    </div>
</footer>
