<footer>
    <div class="container pt-5 pb-5">
        <div class="row">
            <img alt="logo" src="/assets/images/website/DM-white.svg" width="200"/>
        </div>
        <div class="row mt-5 mb-5 d-flex justify-content-around links-container">
            <a href="/">Accueil</a>
            <a href="/">Offre</a>
            <a href="/">Savoir-faire</a>
            <a href="/">DEVmachine</a>
            <a href="/">Contact</a>
            <a href="/">Blog</a>
            <a href="/">Recrutement</a>
        </div>
        <div class="row d-flex justify-content-around bottom-container">
            <a id="mentions-btn" data-toggle="modal" data-target="#mentions">Mentions légales</a>
            <a href="mailto:contact@devmachine.fr">contact@devmachine.fr</a>
            <div>
                <a href="https://twitter.com/devmachine_fr" target="_blank">
                    <img src="/assets/images/logos/twitter.png" alt="Twitter" height="18" class="mr-3">
                </a>
                <a href="https://fr.linkedin.com/company/devmachine" target="_blank" class="ml-3">
                    <img src="/assets/images/logos/linkedin.png" alt="LinkedIn" height="18">
                </a>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade" id="mentions" tabindex="-1" role="dialog" aria-labelledby="mentionsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mentions légales</h4>

            </div>
            <div class="modal-body">
                <p>L'ensemble de ce site relève des législations françaises et internationales sur le droit d'auteur et
                    la propriété intellectuelle.
                    Tous les droits de reproduction sont réservés, y compris pour les documents iconographiques et
                    photographiques.</p>

                <h2>DEVmachine</h2>
                <p>SARL au capital de 3000 €</p>
                <p>RCS Rennes : 844 646 463</p>
                <p>Code APE : Conseil en systèmes et logiciels informatiques (6202A)</p>
                <p>N° TVA : FR59844646463</p>
                <p>Siège Social : 4 Av. des Peupliers Bâtiment F - 1er étage, 35510 Cesson-Sévigné, France</p>
                <p>Téléphone : 02 23 45 15 11
                <p>Mail : contact@devmachine.fr</p>
                <p>Gérant : Vincent Lescalier</p>
                <p>Le site www.devmachine.fr a été créé par DevMachine, qui en est également le webmaster.</p>
                <p>Directeur de la publication : Vincent Lescalier</p>

                <p>Le site est hébergé par : Netlify</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
