<nav
      class="navbar navbar-expand-lg navbar-dark"
      id="mainNav"
      xmlns="http://www.w3.org/1999/html"
    >
      <div class="container">
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <span aria-hidden="true" class="fas fa-bars"></span>
        </button>
        <a href="/">
          <img
            src="/assets/images/website/devmachine.svg"
            class="logo-dm"
            width="200"
            alt="Logo DEVmachine"
          />
        </a>
        <div
          class="collapse navbar-collapse"
          id="navbarResponsive"
        >
          <ul class="navbar-nav text-uppercase ml-auto">
            {% assign sorted_pages = site.html_pages | sort:"order" %}
            {% for navPage in sorted_pages %}
             {% unless navPage.exclude-nav %}
                <li class="nav-item">
                  <a
                    class="nav-link"
                    {% if page.url == navPage.permalink %} style="color: #fc766a; font-weight: bold" {% endif %}
                    href="{{ navPage.url }}"
                  >{{ navPage.title }}</a>
                </li>
              {% endunless %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
