
<section id="ref">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Quelques références</h2>
                <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselIndicators" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="d-block w-100">
                                <div class="ref">

                                    <div class="customer">
                                        <img class="logo" src="/assets/images/dome.svg">
                                        <!-- DOME -->
                                    </div>
                                    <div>
                                        <h4>Périmètre applicatif</h4>
                                        <p>Applications web, mobiles d'aide à la personne</p>
                                    </div>
                                    <div>
                                        <h4>Prestations DEVmachine</h4>
                                        <ul>
                                            <li>Reprise en mains des développements de la plateforme</li>
                                            <li>Développement au forfait de modules applicatifs et d’un nouvel Extranet</li>
                                            <li>Industrialisation des développements logiciels</li>
                                            <li>Industrialisation des déploiements applicatifs</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h4>Plus-value</h4>
                                        <ul>
                                            <li>Sécuriser le time-to-market : qualité, délais</li>
                                            <li>Diminution de la dette technique</li>
                                            <li>Vision produit, capacité d’arbitrage sur la valeur produit et le coût de développement
                                            </li>
                                            <li>Amélioration UX/UI</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="d-block w-100">
                                <div class="ref">
                                    <div class="customer">
                                        <img class="logo" src="/assets/images/cooperl.png">
                                        <!-- COOPERL -->
                                    </div>
                                    <div>
                                        <h4>Périmètre applicatif</h4>
                                        <p>Suite applicative de gestion de l'élevage</p>
                                    </div>
                                    <div>
                                        <h4>Prestations DEVmachine</h4>
                                        <ul>
                                            <li>Définir une architecture logicielle performante et globale du SI</li>
                                            <li>Accompagner la transition “innovation -> réalisation” auprès des équipes métier et
                                                développement
                                            </li>
                                            <li>Développer un datawarehouse aligné avec l’élevage de précision</li>
                                            <li>Développer des applications mobiles</li>
                                            <li>Mettre en place le système d’authentification de la plateforme</li>
                                            <li>Industrialiser les pratiques de déploiement dans le Cloud</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h4>Plus-value</h4>
                                        <ul>
                                            <li>Vision technique transverse, de la conception à la production</li>
                                            <li>Expertise technique</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-block w-100">
                                <div class="ref">
                                    <div class="customer">
                                        <img class="logo" src="/assets/images/sharly-logo.png">
                                        <!-- SHARLY -->
                                    </div>
                                    <div>
                                        <h4>Périmètre applicatif</h4>
                                        <p>Application web, mobiles pour les magasins de la GMS</p>
                                    </div>
                                    <div>
                                        <h4>Prestations DEVmachine</h4>
                                        <ul>
                                            <li>Reprise en mains d’un premier MVP</li>
                                            <li>Définition d’une architecture permettant la scalabilité de la plateforme</li>
                                            <li>Développement fonctionnel, déploiement de la plateforme et des applications mobiles (iOS
                                                / Android)
                                            </li>
                                            <li>Industrialisation des développements</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h4>Plus-value</h4>
                                        <ul>
                                            <li>Eclairages techniques pour favoriser la prise de décision</li>
                                            <li>Vision produit</li>
                                            <li>Forte capacité d’adaptation de la production en fonction des priorités business et
                                                réflexions métier.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-block w-100">
                                <div class="ref">
                                    <div class="customer">
                                        <img class="logo" src="/assets/images/Biocoop.png">
                                        <!-- Biocoop -->
                                    </div>
                                    <div>
                                        <h4>Périmètre applicatif</h4>
                                        <p>Application Web de gestion de badges</p>
                                    </div>
                                    <div>
                                        <h4>Prestations DEVmachine</h4>
                                        <ul>
                                            <li>Développement forfaitaire de la solution sur la base d’un cahier des charges</li>
                                            <li>Transfert de compétences pour reprise de l’application en maintenance par les équipes du
                                                client
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h4>Plus-value</h4>
                                        <ul>
                                            <li>Proximité opérationnelle malgré une relation 100% distante de l’avant-vente à la mise en
                                                production, dans un contexte de confinement / télé-travail client
                                            </li>
                                            <li>Respect de la qualité et des délais</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-block w-100">
                                <div class="ref">
                                    <div class="customer">
                                        <img class="logo"
                                             src="/assets/images/MGDIS.png">
                                        <!-- MGDIS -->
                                    </div>
                                    <div>
                                        <h4>Périmètre applicatif</h4>
                                        <p>Portail Web de gestion des aides financières des collectivités</p>
                                    </div>
                                    <div>
                                        <h4>Prestations DEVmachine</h4>
                                        <ul>
                                            <li>Co-développement des solutions logicielles, dans une démarche agile</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h4>Plus-value</h4>
                                        <ul>
                                            <li>Capacité à embarquer une équipe alignée sur les valeurs du client</li>
                                            <li>Autonomie et implication de l’équipe dans un travail full-distant</li>
                                            <li>Prise de recul et force de proposition pour améliorer collectivement les process et les
                                                outils
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
