$green-bg: rgba(106, 252, 138, 0.1);

section#dm-intro {
  background-color: $green-bg;
}

section#dm-force {
  div.dm-item {
    padding: 1rem 0;

    h2 {
      font-weight: 800;
    }

    // on inverse l'ordre en mode phone pour mettre l' image sous le texte
    @media (max-width: $sm-size) {
      &.sm-reverse {
        flex-direction: column-reverse;
      }
      // on diminue la taille des img
      img {
        max-width: 70%;
      }
    }
  }
}

section#dm-servir {
  h2.section-subheading {
    font-size: 1.6rem;

    @media (max-width: $sm-size) {
      font-size: 1.3rem;
    }
  }

  div.dm-item {
    padding: 2rem 0;

    h2 {
      color: $secondary;
      font-weight: 600;
    }
    p, ul > li {
      color: $third;
    }

    // on inverse l'ordre en mode phone pour mettre l' image sous le texte
    @media (max-width: $sm-size) {
      &.sm-reverse {
        flex-direction: column-reverse;
      }
      // on inverse l'ordre en mode phone pour mettre l' image sous le texte
      img {
        max-width: 70%;
      }
    }
  }
}

section#dm-rse {
  background-color: $green-bg;
  h2.section-subheading {
    font-size: 1.6rem;

    @media (max-width: $sm-size) {
      font-size: 1.3rem;
    }
  }

  div.rse-item {
    background-color: $secondary;
    color: $white;
    padding: 2rem 3rem;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.15);
    border-radius: 32px;
    margin: 3rem 0;

    p.title {
      font-size: 2rem;
      font-weight: 600;
    }

    img.leaf {
      width: 3rem;
    }

    img.circle {
      position: absolute;
      top: -0.5rem;
      left: -2rem;
    }

    &#environnemental {
      position: relative;

      p.info:hover {
        cursor: help;
        & ~ #environnemental-items {
          display: initial;
        }
      }

      #environnemental-items {
        display: none;
        background-color: white;
        color: $secondary;

        width: 90%;
        max-width: 30rem;

        box-shadow: 4px 4px 20px rgba(0, 0, 0, .1);
        border-radius: 8px;
        padding: 1rem 2rem;

        position: absolute;
        top: 75%;
        left: 15%;

        ul {
          margin-bottom: 0;
        }
      }
    }
    &#societal {
      background-image: url("/assets/images/website/page-dm/rse/Confettis.svg");
      background-repeat: no-repeat;
      background-position: 100% 0;
    }

    div.rse-subitems {
      display: flex;
      flex-wrap: wrap;
      gap: 5% 1rem;
      margin-top: 1rem;
      justify-content: space-evenly;

      p {
        text-align: center;
        font-size: 1.2rem;
        max-width: 35%;
        line-height: 1.2rem;
      }
    }

    @media (max-width: $sm-size) {
      padding: 2rem .2rem;

      p.title {
        margin-left: 2rem;
      }
      img.circle {
        left: .1rem;
      }
    }
  }
}
