$green-bg: rgba(106, 252, 138, 0.1);

section#dm-intro {
  background-color: $green-bg;
}

section#dm-force {
  div.dm-item {
    padding: 1rem 0;

    h2 {
      font-weight: 800;
    }

    // on inverse l'ordre en mode phone pour mettre l' image sous le texte
    @media (max-width: $sm-size) {
      &.sm-reverse {
        flex-direction: column-reverse;
      }
      // on diminue la taille des img
      img {
        max-width: 70%;
      }
    }
  }
}

section#dm-servir {
  h2.section-subheading {
    font-size: 1.6rem;

    @media (max-width: $sm-size) {
      font-size: 1.3rem;
    }
  }

  div.dm-item {
    padding: 2rem 0;

    h2 {
      color: $secondary;
      font-weight: 600;
    }
    p, ul > li {
      color: $third;
    }

    img.bretagne {
      width: 60%;
    }
    img.produit-bretagne {
      width: 50%;
    }

    // on inverse l'ordre en mode phone pour mettre l' image sous le texte
    @media (max-width: $sm-size) {
      &.sm-reverse {
        flex-direction: column-reverse;
      }
      // on inverse l'ordre en mode phone pour mettre l' image sous le texte
      img {
        max-width: 70%;
      }
    }
  }
}

section#dm-rse {
  background-color: $green-bg;
  h2.section-subheading {
    font-size: 1.6rem;

    @media (max-width: $sm-size) {
      font-size: 1.3rem;
    }
  }

  div.rse-item {
    background-color: $secondary;
    color: $white;
    padding: 2rem 3rem;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.15);
    border-radius: 32px;
    margin: 3rem 0;

    p.title {
      font-size: 2rem;
      font-weight: 600;
    }

    img.leaf {
      width: 3rem;
    }

    img.circle {
      position: absolute;
      top: -0.5rem;
      left: -2rem;
    }

    span.info {
      position: relative;
      font-size: 1.4rem;
      // Affichage de bloc popup pour grand écran
      &:hover {
      color: $primary;
        cursor: help;
        & > div.rse-onhover-items {
          display: initial;
        }
      }

      div.rse-onhover-items {
        position: absolute;
        left: 0;
        width: 200%;
        max-width: 35rem;

        display: none;
        z-index: 2;

        font-size: initial;
        background-color: white;
        color: $secondary;
        text-align: left;

        box-shadow: 4px 4px 20px rgba(0, 0, 0, .1);
        border-radius: 8px;
        padding: 1rem 2rem;

        // Certaines popup dépassent à droite
        &.shift-left {
          left: -50%;
        }

        ul {
          margin-bottom: 0;
          li:not(:last-child) {
            margin-bottom: 1rem;
          }
        }

        // En mode moyen, on réduit la taille
        @media (max-width: $md-size) {
          max-width: 25rem;
          &.shift-left {
            left: 0;
          }
        }

        // En mode phone, on centre
        @media (max-width: $sm-size) {
          max-width: 100%;
        }
      }
    }

    &#social {
      div.rse-subitems {
        justify-content: space-between;
        margin: 0 -3rem;
        span.info {
          max-width: 14rem;
        }
      }
    }

    &#environnemental {
      div.rse-subitems {
        justify-content: space-between;
        span.info {
          max-width: 20rem;
        }
      }
    }

    &#societal {
      position: relative;

      img.confettis {
        z-index: 0;
        position: absolute;
        top: 1rem;
        left: 0;
        transform: scaleX(-1);
      }

      p.title, div.rse-subitems {
        z-index: 1;
      }
    }

    div.rse-subitems {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      text-align: center;
      margin-top: 1rem;
      row-gap: 1rem;
    }

    @media (max-width: $md-size) {
      &#social, &#environnemental, &#societal {
        div.rse-subitems {
          margin: initial;
          span.info {
            max-width: initial;
          }
        }
      }
    }

    @media (max-width: $sm-size) {
      padding: 2rem .2rem;

      p.title {
        margin-left: 2rem;
      }
      img.circle {
        left: .1rem;
      }
    }
  }
}
