footer {
  background-color: $secondary;

  div.links-container {
    gap: 1rem;
    a {
      color: $white;
    }
  }

  div.bottom-container {
    gap: 1rem;
    a {
      color: $light-grey;
    }
    #mentions-btn {
      color: $light-grey;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}