h1.section-heading {
  font-weight: 900;
  font-size: 40px;
  line-height: 35px;
  margin: 20px 0;
  text-align: center;
}

section.intro {
  font-family: 'Nunito';
  font-style: normal;
  color: $secondary;

  p {
    color: $third;
  }

  img {
    width: 100%;
  }
}

// PILIERS
section.piliers {
  color: $secondary;

  div.piliers-item {
    img {
      width: 100px;
    }

    div.piliers-text {
      margin-left: 10px;
      max-width: 70%;
    }

    // Bordures quand 2 lignes 2 colonnes
    &:nth-child(odd) {
      border-right: 1px solid $light-grey;
    }
    &:first-child, &:nth-child(2) {
      border-bottom: 1px solid $light-grey;
    }
  }
}

// IMAGES
section.images {
  margin: 50px 15px;
  div.blue-img-container {
    height: 200px;
    width: 100%;
    background-color: $light-blue;
    clip-path: polygon(0 10%, 30% 20%, 60% 10%, 80% 0,  100% 20%, 100% 100%, 0 100%);
  }
}

// B2B / B2C
section.b2b {
  color: $secondary;

  h2 {
    color: $third;
  }

  ul {
    list-style-type: none;
  }
}