// background fondu pour la page d'accueil
body.main-bg {
  background: linear-gradient(180deg, rgba(252, 118, 106, 0.1) 0, rgba(252, 118, 106, 0) 30rem);
}

section#index-intro {
  div.shape-container {
    $HEIGHT: 20rem;
    $SHAPE: polygon(
      10% .5rem,
      90% 0,
      100% 3rem,
      90% calc(#{$HEIGHT} - 6rem),
      25% 100%,
      0 9rem,
    );
    position: relative;
    padding: 0;
    
    div.bg-orange {
      z-index: -1;
      position: absolute;
      top: 1rem;
      height: $HEIGHT;
      width: 100%;
      background-color: $primary;
      clip-path: $SHAPE;
      transform: rotate(-1deg);
    }
    div.image-container {
      clip-path: $SHAPE;
      img {
        height: $HEIGHT;
        object-fit: cover;
      }
    }
  }
}

// PILIERS
section#index-piliers {
  margin-top: 4rem;
  color: $secondary;

  div.piliers-item {
    img {
      width: 100px;
    }

    div.piliers-text {
      margin-left: 10px;
      max-width: 70%;
    }

    // Bordures en croix quand 2 lignes 2 colonnes (défaut)
    &:nth-child(odd) {
      border-right: 1px solid $light-grey;
    }
    &:first-child, &:nth-child(2) {
      border-bottom: 1px solid $light-grey;
    }

    // Bordure pour séparer les lignes en mode mobile
    @media (max-width: $md-size) {
      border-right: none !important;
      border-bottom: none !important;

      border-top: 1px solid $light-grey;
      padding-top: 1rem;
      
      &:first-child {
        border-top: none;
        padding-top: 0;
      }
    }
  }
}

// IMAGES
$HEIGHT: 40rem;
$SHAPE: polygon(0 .5rem,
  30% 2rem,
  60% 1rem,
  80% 0,
  100% 3rem,
  100% 100%,
  66% calc(#{$HEIGHT} - 1rem),
  33% calc(#{$HEIGHT} - 3rem),
  0 100%
);

// PHOTOS
section#index-images {
  position: relative;
  padding: 0;

  div.shape-container {
    height: $HEIGHT;
    position: absolute;
    margin: 0 1%;
    width: 98%;
    z-index: -1;

    &.bg-blue {
      top: -1rem;
      background-color: $light-blue;
      clip-path: $SHAPE;
    }
    &.bg-pink {
      bottom: -1rem;
      background-color: $light-pink;
      clip-path: $SHAPE;
    }
  }

  div.img-container {
    clip-path: $SHAPE;

    img {
      width: 100%;
      height: $HEIGHT;
      object-fit: cover;
    }
  }
}

// B2B / B2C
section#index-b2b {
  color: $secondary;
}

// PRESTATIONS
section#index-prestations {
  text-align: center;

  div.questions {
    margin-top: 4rem;
    
    // TODO: merge d'images svg
    background-image: url("/assets/images/website/prestations/woman.svg");
    background-repeat: no-repeat;
    background-position: 40% 70%;
    
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem 0;

    div.question-item-container {
      // max 2 items par ligne
      flex-basis: 50%;
      
      div.question-item {
        background-color: $white;
        max-width: 350px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $light-grey;
        border-radius: 8px;
        padding: 5px 10px;
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.08);

        p {
          margin: 0;
          margin-right: 1rem;
        }


        span.fas {
          color: $primary;
        }
      }

      // Custom padding pour ne pas les aligner
      &:nth-of-type(1) {
        padding-top: 0;
        padding-left: 0;
      }
      &:nth-of-type(2) {
        padding-top: 1rem;
        padding-right: 7rem;
      }
      &:nth-of-type(3) {
        padding-top: 1rem;
        padding-left: 2rem;
      }
      &:nth-of-type(4) {
        padding-top: 4rem;
        padding-right: 3rem;
      }
      &:nth-of-type(5) {
        padding-top: 2rem;
        padding-left: 0;
      }
      &:nth-of-type(6) {
        padding-top: 4rem;
        padding-right: 9rem;
      }
    }

    // En mode réduit, on met les items à gauche et l'image à droite
    @media (max-width: $md-size) {
      flex-direction: column;
      flex-wrap: nowrap;
      gap: .5rem 0;
      background-position: 100% 50%;

      div.question-item-container {
        padding: 0 !important;
      }
    }

    @media (min-width: $sm-size) and (max-width: $md-size) {
      div.question-item {
        float: left !important;
      }
    }

    // En mode phone, on retire l'image et on centre
    @media (max-width: $sm-size) {
      background: none;
      div.question-item {
        float: none !important;
        margin: auto;
      }
    }
  }

  button.dm-btn {
    margin-top: 2rem;
  }

  div.img-container {
    text-align: right;
    margin-top: -3rem;
    margin-right: 4rem;
    
    img {
      width: 140px;
    }
  }
}

// SAVOIR FAIRE
section#index-savoir-faire {
  background-color: $light-pink;
  text-align: center;

  div.skill-items {
    display: flex;
    flex-wrap: wrap;

    div.skill-item {
      margin-top: 2rem;

      img {
        width: 100px;
      }

      h3 {
        color: $primary;
        font-weight: 600;
      }

      p {
        color: $secondary;
        font-weight: 500;
      }
    }
  }

  button.dm-btn {
    margin-top: 2rem;
  }
}

section#index-savoir-plus {
  $size: 15rem;

  div.img-container {
    position: relative;

    img.julien {
      border-radius: 50%;
      object-fit: cover;
      width: $size;
      height: $size;
    }

    img.circle {
      position: absolute;
      width: $size;
      top: -.5rem;
      // Trick pour center l'image en asbolute
      // Left à 45% pour ne pas centrer parfaitement
      left: calc(50% - 1rem);
      transform: translate(-50%, 0);
    }
  }

  button.dm-btn {
    // pas de texte sur ce btn, on recentre le chevron
    span {
      margin-left: 0;
      font-size: 20px;
    }
  }
}