div.highlighter-rouge {
  background-color: $code-background;
  border-radius: $code-border-radius;
  padding: $code-padding;
  box-sizing: border-box;
  margin-bottom: 1rem;

  pre {
    color: $code-color;
    margin: 0;
  }
}

/* Inline code */
code {
  font-family: 'JetBrains Mono';
  font-size: 0.8rem;
}

.code-header {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.copy-code-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-column-gap: 4px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 4px 8px;
  background-color: $code-background;
  color: $code-color;
  background-image: url('/assets/images/copy-icon.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  // This class will be toggled via JavaScript
  &.copied {
      background-image: none;
      color: black;
      &:after {
        content: "✔️";
      }
  }
}
