div.highlighter-rouge {
  background-color: $code-background;
  border-radius: $code-border-radius 0 $code-border-radius $code-border-radius;
  padding: $code-padding;
  box-sizing: border-box;
  margin-bottom: 1rem;

  pre {
    color: $code-color;
    margin: 0;
  }
}
