---
---

@import "variables";
@import "_navbar";

// SCSS FOR EACH PAGE
@import "_index";

// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

button.dm-btn {
  text-align: center;
  border-radius: 4px;
  padding: 6px 36px;

  &.dm-btn-blue {
    background-color: $secondary;
    color: $white;
    a {
      color: $white;
    }
  }
  &.dm-btn-white {
    background-color: $white;
    border-color: $secondary;
    color: $secondary;
    a {
      color: $secondary;
    }
  }
}
