---
---

@import "variables";
@import "_navbar";
@import "_footer";

// SCSS FOR EACH PAGE
@import "_index";
@import "_offre";
@import "_savoir-faire";
@import "_dev-machine";
@import "_contact";
@import "_blog";
@import "_recrutement";

// SCSS FOR BLOG
@import "code";
@import "_post";

// PLUGINS
@import "_accordion";

// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

button.dm-btn {
  text-align: center;
  border-radius: 4px;
  border-color: transparent;
  padding: 0;

  a {
    display: inline-block;
    padding: .3rem 1rem;
  }

  // Pour les boutons avec chevrons
  span.fas {
    font-size: 12px;
    color: $white;
    margin-left: .8rem;
  }

  &.dm-btn-blue {
    background-color: $secondary;
    color: $white;
    a {
      color: $white;
    }
  }
  &.dm-btn-white {
    background-color: $white;
    border-color: $secondary;
    color: $secondary;
    a {
      color: $secondary;
    }
  }
  &.dm-btn-orange {
    background-color: $primary;
    color: $white;
    font-size: 18px;
    a {
      color: $white;
    }
  }
}

// PADDING POUR CHAQUE BLOC
section {
  padding: 3rem 0;
  @media (max-width: $sm-size) {
    padding: 1rem 0;
  }
}

* {
  font-family: 'Nunito';
}

// TITRES
h1.section-heading,
h2.section-subheading {
  text-align: center;
  width: 100%;
}

h1.section-heading {
  color: $secondary;
  font-weight: 900;
  font-size: 3rem;
  line-height: 2.7rem;
  margin: 1.5rem 0;
  
  @media (max-width: $sm-size) {
    font-size: 2rem;    
    line-height: 1.7rem;
  }
}

h2.section-subheading {
  color: $third;
  font-size: 2rem;
  line-height: 1.7rem;
  font-weight: 800;
  margin-bottom: 2rem;

  @media (max-width: $sm-size) {
    font-size: 1.5rem;
    line-height: 1.2rem;
  }
}

// Intro de chaque page
section.intro {
  div.btn-container {
    justify-content: center;
    gap: 1rem;
  }
  @media (max-width: $sm-size) {
    // quand l'image est dessous, petite marge
    div.right-img {
      margin-top: 2rem;
    }
  }
}

// TEXT COLORS
.text-orange {
  color: $primary !important;
}
.text-blue {
  color: $secondary  !important;
}
.text-grey {
  color: $third !important;
}

// LISTES FLECHES CUSTOM (pour les ul + articles)
ul.arrow-list, article.post-content ul {
  list-style-type: none;
  // on retire la marge de base de "ul"
  padding-inline-start: 0;

  li {
    background-image: url(/assets/images/circle-arrow-right.svg);
    background-repeat: no-repeat;
    line-height: 23px;
    padding-left: 30px;
    margin-bottom: 3px;
  }
}
