---
layout: default
---
<section id="post-intro" class="intro">
  <div class="container">
    <a class="dm-btn" href="/blog">
      <span aria-hidden="true" class="fas fa-chevron-left"></span>Retour
    </a>
    <div>
      <h1 class="text-center section-heading">{{ page.title}}</h1>
      <p class="text-center text-orange">par {{ page.author }} le {{ page.date | date: "%d/%m/%Y" }}</p>
      <div class="text-grey">{{ page.excerpt }}</div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <article class="post-content {% if page.code_no_lines %}no_lines{% endif %}">{{ page.content | remove: page.excerpt }}</article>
  </div>
</section>

<script src="/assets/scripts/copy-code.js"></script>
<script src="/assets/scripts/responsive-tables.js"></script>
